{% extends 'base.html'%} <!-- vuol dire inserisci qui la navigation toolbar contenuta in base -->

{% block content %}

    <h1>Perchè un metaglossario</h1>
    


    {% comment %} inserisci il discorso di pozzoni che va registrato da youtube {% endcomment %}

    {% comment %} video da youtube sul tipo b {% endcomment %}


    <br>
    
    <h4>La gestione delle emergenze in ambito transfrontaliero</h4>

    <p>In caso di emergenza, le organizzazioni di protezione civile italiana e svizzera si trovano contemporaneamente ad operare sullo stesso obiettivo, cosa che genera inevitabilmente alcuni problemi di sinonimia e omonimia. </p>
    <p>In altre parole, il settore della protezione civile in diversi paesi si trova a realizzare strutture, figure professionali, metodi e strategie che ricoprono gli stessi ruoli all’interno dell’organizzazione di protezione civile, ma in ciascun paese detti elementi vengono chiamati con lemmi diversi. Per contro, può capitare che termini specifici utilizzati per individuare degli elementi di protezione civile (strutture, metodi, strategie, tipologie di eventi emergenziali, ecc.) rivestano, nei due paesi, significati differenti. </p>
    <p>Esempio evidente di quest’ultima eventualità è il fatto che il in ambito di emergenza il termine “tipo B” in Italia sia assimilabile all’”emergenza di tipo B” definita dal codice di protezione civile (art. 7 del DL n°1 2/1/2018) come un evento che richiede di essere trattata utilizzando mezzi e poteri straordinari a livello regionale, mentre in Canton Ticino la stessa locuzione è riconducibile ad uno degli eventi delle emergenze NBC: la minaccia da agenti biologici/patogeni. </p>
    <p>A parte questo esempio, in cui le problematiche legate alla ridondanza del linguaggio emergono in maniera evidente, esiste una serie di lemmi ed elementi di protezione civile appartenenti ai paradigmi delle due nazioni tale per cui possono avere origine dei fraintendimenti che possono rivelarsi fatali in tempo di emergenza.</p>

    <br>

    <div style="text-align:center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/P3giMwaJDpo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> 


    <br>

    <h4>La cultura di protezione civile in Italia</h4>
    <p>La cultura di Protezione Civile nel nostro Paese trae origine dalla risposta che la comunità ha dovuto porre in essere per difendersi dai rischi e delle criticità cui si è trovata esposta a livello locale. Per tale motivo, anche se oggigiorno l’attività di Protezione Civile è definita dall’Ordinamento nell’ambito della Presidenza del Consiglio dei Ministri, alcuni suoi aspetti rimangono comunque segnati dall’approccio volontaristico che l’ha accompagnata nelle sue prime fasi storiche.</p>
    <p>Tra essi vi è il lessico operativo, coniato in modo indipendente dai gruppi e comunità presenti a livello locale, in relazione al contesto e ai rischi presenti esclusivamente sul territorio limitrofo.</p>
    <p>Lo sviluppo autonomo e spazialmente differenziato del linguaggio della Protezione Civile rappresenta evidentemente un limite alla funzionalità della stessa, infatti, i gruppi di operatori provenienti da diverse parti del paese che vengono chiamate a cooperare sulla medesima evenienza possono non riuscire a comunicare tra di loro in modo efficace.</p>
    <p>Resta da valutare se potrebbe aver senso forzare l’introduzione di un lessico unico e univoco all’interno della Protezione Civile, a sostituzione degli idiomi coniati spontaneamente dalle varie comunità. L’operazione comporterebbe comunque una perdita di preziosa cultura organizzativa e, probabilmente, genererebbe inutili frizioni tra diverse squadre di intervento.</p>
    <p>Pertanto, il senso di questo glossario non è quello di rendere uniforme il linguaggio della Protezione Civile, ma piuttosto, di fungere da elemento di trasversalità, consultabile sia in tempo di pianificazione sia durante un’emergenza, in modo tale che il personale convocato ad operare al di fuori del territorio di ordinaria amministrazione possa facilmente interagire con il gergo tecnico e regionale dei nuclei locali.</p>

    <br>
    
    <div style="text-align:center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DpI6pKGdYtU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> 

    <br>

    <h4>L'obiettivo del metaglossario</h4>

    <p>Obiettivo del metaglossario è di oggettivare, facilitare e velocizzare la comunicazione tra operatori di culture tecniche e amministrative diverse oltreché provenienti da ambiti geografici molto lontani tra loro, sia in tempo di pace che durante le concitate fasi dell’emergenza. Il metaglossario si appoggia su una estesa e capillare ricerca basata sull’<i>harvesting</i> dei glossari di diversi soggetti pubblici e privati disponibili sul web.</p>
    <p>Uno dei pilastri del lavoro sta nel riconoscimento che non sussistano fonti autoritative nella definizione dei lemmi che, di per sé, prevalgono sulle altre. La definizione del lemma “Marmotta” è certamente “<i>Marmota marmota</i>, roditore della famiglia <i>Sciuridae</i>”. Ma, in ambito ferroviario è difficile sostenere che non valga, con altrettanta autorevolezza, la definizione di “particolare segnale ferroviario basso girevole che comanda il movimento dei treni in manovra”. La marmotta è appunto uno dei segnali di manovra, definiti "bassi" (in maniera autoritativa) dai regolamenti ferroviari ed esercita una funzione indispensabile nelle stazioni, negli scali merci, nei grandi depositi locomotive e in tanti casi di immissione di binari e raccordi nelle aree di stazione. Il metaglossario non entra nel merito di quale, delle due definizioni, sia effettivamente quella principale. In questo senso si discosta dai glossari tradizionali. </p>
    <p>Un glossario tradizionale sintetizza le diverse classi di significato riportando diverse definizioni del lemma riferite a ambiti generici (in medicina, in aeronautica, in meccanica). Il metaglossario intercetta i glossari disponibili, anche nell’ambito della medesima area semantica e riporta pedissequamente tutte le definizioni rinvenute per quel lemma riportandone la fonte. L’utente ha così a disposizione, per ogni lemma, un compendio di definizioni certamente destrutturato e disomogeneo, ma che fornisce uno spaccato della cultura di Protezione Civile, consentendo una presa diretta sulla semantica organizzativa di interesse, considerando appieno il rapporto tra l'espressione e la realtà extralinguistica.</p>


    


{% load static %}  <!-- Qui il tag è obbligatorio nonostante sia stato inserito dentro base.html -->

<!-- CSS -->
<link rel="stylesheet" type="text/css" href={% static "css/about_style.css" %}>

<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}

{% endblock %}