.env
.admin.txt
.directory.txt
.github info.txt
.AAA - ATTIVARE VIRTUALENV.txt
.Log_operazioni_svolte_metaglossario_v2.txt
.to do.txt
.spiegazione interfaccia metaglossario 5.jpg
.appunti heroku.txt
.appunti_metaglossario_gestisco.txt
.appunti postgresql.txt
.appunti docker.txt
.passwords.txt

