/* devo ancora capire come farlo
voglio fare una cosa che mi metta da una parte i campi per le fonti italiane, dall'altra quelle delle fonti svizzere */

/* splitta la pagina in blocchi e allienali */
/* https://stackoverflow.com/questions/38275925/how-to-align-two-columns-in-html */

/* definire due classi che sono la replica della form-group e applicare alle altre
 lo styling
 
 per l'italia:
 display:inline-block; width:48%;

 per la svizzera:
  width:48%; float: right;" 
  
  */



.form-group input{   
  background-color: #f8f8f8;      
}

.form-group textarea{
  background-color: #f8f8f8;      
}


.form-group input:hover{
  
  /* border-color: red; */
  /* box-shadow: 0 0 3px  #007bff80; */
  border-style: solid;
  border-color: #007bff80;
  background-color: #3496ff11;
  
}


.form-group textarea:hover{
  
  /* border-color: red; */
  /* box-shadow: 0 0 3px  #007bff80; */
  border-style: solid;
  border-color: #007bff80;
  background-color: #3496ff11;
      
}


.form-group input:focus{
  
  background-color: white;
  /* box-shadow: 0px 0px 10px  #007bff80; */
  border-width:3px;
  
      
}


.form-group textarea:focus{
  
  background-color: white;
  /* box-shadow: 0px 0px 10px  #007bff80; */
  border-width:3px;
  
}