{% extends 'base.html'%} <!-- vuol dire inserisci qui la navigation toolbar contenuta in base -->

{% block content %}

{% load static %}

    
    <div>
    
        <div style="display: inline-block; vertical-align: middle; float:left;">
        <h1>Il progetto GESTI.S.CO</h1>    
        </div>

        
        <div style="display: inline-block; vertical-align: middle; float: right;">
            <a class="border_logo_progetto" href="https://interreg-italiasvizzera.eu/" target=_blank><img src="{% static 'img/loghi_partner/interreg-minilogo.png' %}" alt="Logo Interreg" class="logo_progetto"></a>
            
            <a class="border_logo_progetto" href="https://www.progetti.interreg-italiasvizzera.eu/it/b/78/gestisco" target=_blank><img src="{% static 'img/loghi_partner/gestisco-minilogo-baffi.png' %}" alt="Logo Gestisco" class="logo_progetto"></a>
        </div>
        

    </div>
    

    <br><br><br><br>



    <p>Questo sito web è predisposto ad ospitare il metaglossario di protezione civile del Progetto Interreg Italia-Svizzera GESTI.S.CO.</p>
    <p>Il progetto <b>GESTISCO - Gestione e coordinamento delle emergenze e delle catastrofi senza confini</b>  ha l’obiettivo di <b>rafforzare la governance transfrontaliera tra Italia e Svizzera nella gestione delle emergenze</b>.</p>
    <p>Le istituzioni partner hanno organizzazioni differenti, informazioni disomogenee e non sempre condivise, procedure operative indipendenti e strumenti non integrati; risulta, quindi, necessario intervenire con azioni di governance per strutturare una rete di conoscenza e instaurare rapporti duraturi, in modo tale da rendere effettivamente possibili la collaborazione, il supporto e il mutuo soccorso tra le istituzioni in caso di necessità, come previsto da accordi vigenti a livello nazionale e regionale.</p> 
    <p>Il progetto mira a costruire un quadro conoscitivo comune condiviso delle regole, dei rischi, in particolare quelli legati ai pericoli naturali, delle risorse e a rendere operativo un team transfrontaliero (NUVRE). Tutto ciò sarà trasferito agli operatori dei territori tramite azioni formative mirate e integrato nei piani di emergenza locali. Inoltre, si intende coinvolgere i cittadini che gravitano nella fascia di confine, in quanto primi operatori di protezione civile, per informarli meglio in caso di allerta (early warning) e per educarli a comportamenti più sicuri.</p>
    <br>
    <p>I partner coinvolti sono: <b>SUPSI, Regione Lombardia, ARPA Piemonte, Fondazione Politecnico di Milano, Politecnico di Milano (Dipartimento di Ingegneria Civile e Ambientale DICA), Comune di Como, Cantone Ticino.</b> GESTISCO ha una durata di 36 mesi; è stato avviato a novembre 2018 e terminerà a novembre 2021. </p>
    <br>

    
    <div style="text-align:center">
        <img src="{% static 'img/Zoom_mappa_gestisco_2.jpg' %}" style="width:90%;" align="middle" alt="Area transfrontaliera interessata dal progetto Gestisco" >
    </div>

{% comment %} connettore facebook {% endcomment %}
{% comment %} <div id="fb-root"></div> {% endcomment %}
{% comment %} <script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v5.0"></script>       {% endcomment %}

{% comment %} link facebook {% endcomment %}
{% comment %} <div class="fb-page" data-href="https://www.facebook.com/GestiscoInterregITCH/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/GestiscoInterregITCH/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/GestiscoInterregITCH/">Gestisco</a></blockquote></div> {% endcomment %}

{% load static %}
<!-- CSS -->
<link rel="stylesheet" type="text/css" href={% static "css/home_style.css" %}>


{% endblock %}

