.nav-item:hover { 
    background-color: #485058f3;
}

/*.navbar {
    
     border: 0px; 
}*/

/* .nav-item-right {
    
    float: right;
} */

/* #metaglossary_baricon  {
    float: right;
    max-height: 20px;
} */